.Header {
    width: 100%;
    height: 70px;
    /* header as a flexbox */
    display: flex;
    justify-content: center;
    align-content: center;
    background: var(--background-color); 
    -webkit-box-shadow: 0 10px 14px -6px rgba(0,0,0,.2), 0 22px 35px 3px rgba(0,0,0,.14), 0 8px 42px 7px rgba(0,0,0,.12);
    box-shadow: 0 10px 14px -6px rgba(0,0,0,.2), 0 22px 35px 3px rgba(0,0,0,.14), 0 8px 42px 7px rgba(0,0,0,.12);
}

.Header h1 {
    /* as a flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}