@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}